@import "../../styles/base.scss";

.partners_container {
  min-height: 76.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @include response(vp-800) {
    height: fit-content;
  }
  img {
    position: absolute;
    z-index: 1;
    height: 67.68rem;
    width: 100%;
    bottom: 0;
  }
  &_content {
    width: 172rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    @include response(vp-800) {
      flex-direction: column;
    }
    &_title_block {
      width: 77.5rem;
      height: 31.7rem;
      position: relative;
      @include response(vp-800) {
        margin-bottom: 5rem;
      }
      img {
        position: absolute;
        width: 31.54rem;
        height: 31.704rem;
        top: 0;
        left: 0;
      }
      h1 {
        font-size: $headingPrimary;
        font-weight: $bold;
        color: $textDark;
        position: absolute;
        bottom: 2.8rem;
        left: 11rem;
        z-index: 3;
      }
    }
    &_right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 66.7rem;
      height: 27rem;
      @include response(vp-800) {
        height: auto;
      }
      p {
        font-size: $para1;
        color: $primary2;
        padding-bottom: 2.9rem;
      }
    }
  }
}
