@import "../../styles/base.scss";
@import "../../styles/mixin";
.membership_container {
  height: 170rem;
  @include response(vp-800) {
    height: 375rem;
  }
  position: relative;
  &_bg {
    svg {
      position: absolute;
      bottom: 0;
    }
  }

  &_header {
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12.7rem 16rem 8.8rem 15.3rem;

    @include response(phone) {
      flex-direction: column;
      padding: 12.7rem 10rem 8.8rem 10rem;
    }

    &_content {
      width: 84.1rem;
      height: 35.7rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include response(phone) {
        width: auto;
        justify-content: space-evenly;
        margin-bottom: 2rem;
      }

      h4 {
        font-size: $subHeading1;
        font-weight: 500;
        color: $primary2;
        margin-left: 7.4rem;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: $subHeading1 / 2;
          left: -6.4rem - 1rem;

          display: block;

          width: 6.4rem;
          height: 0.5rem;

          background-color: $primary1;
        }
      }
      h5 {
        font-size: $subHeading1;
        font-weight: $bold;
        color: $primary2;
        margin-left: 7.4rem;
      }
      p {
        font-size: $para1;
        color: $primary2;
        margin-left: 9.7rem;
      }
    }
    &_title_block {
      width: 54.45rem;
      h1 {
        text-align: center;
      }
      img {
        right: 0;
      }
    }
  }

  &_grid_cards {
    position: relative;
    z-index: 3;

    display: -ms-grid;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;

    height: -webkit-fit-content;

    height: -moz-fit-content;

    height: fit-content;
    margin: auto;
    gap: 1.6rem;
    padding: 1.6rem 0rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    @include response(vp-800) {
      grid-template-columns: repeat(1, 1fr);
      width: auto;
      padding: 1.6rem 10rem;
      margin: auto;
    }

    &_flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 1.6rem;
      padding: 1.6rem 0rem;
      // In phones show only 1 column
      @include response(vp-800) {
        width: 100%;
      }
      // set colors for each card based on their class names
      @each $color in $cardColors {
        $i: index(
          $list: $cardColors,
          $value: $color,
        );
        .flex-card-#{$i} {
          @include setMembershipCardColors($color);
        }
        @if $i==6 {
          .flex-card-#{$i} {
            @include setMembershipCardColors($color, "true");
          }
        }
      }
    }
  }
}
