@import '../../../styles/base.scss';

.home_news_letter{
    margin-top: 10rem;
    padding: 5rem 20rem;
    height: 65rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;

    &_left{
        position: relative;
        div{
            padding-inline: 15rem;
            margin-top: 10rem;
            text-align: center;

            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h4{
            font-size: $headingOptional;
            font-weight: $bold;
            color: $primary2;
        }
        p{
            font-size: $para2;
            color: $primary2;
            line-height: 2.9rem;
            padding: 2rem 0;
            margin-bottom: 5rem;
        }
        button{
            outline: 0;
            border: 0;
            padding: 1.9rem 2.8rem;
            font-size: 2.6rem;
            color: $white;
            background-color: $primary2;
            border-radius: 5px;
            cursor: pointer;
        }
        &_form{
            animation: form 0.3s;

            form{
                display: flex;
                flex-direction: column;                
                margin-inline: auto;
            }

            input, textarea, select{
                outline: 0;
                border: 0;
                border-bottom: 1px solid #707070;
                display: block;
                background-color: inherit;
                font-size: 3rem;
                color: $placeholder;
                padding: 0 1.9rem 1.3rem 1.9rem;
                font-family: "GT Walsheim Pro";
                &:nth-child(2){
                    padding-left: 1.3rem 1.9rem 1.3rem 1.9rem;
                    margin-top: 4.2rem;
                }
                &:nth-child(3){
                    margin-top: 4.2rem;
                    padding-left: 1.3rem 1.9rem 1.3rem 1.9rem;
                }
            }
            button{
                margin-top: 1.9rem;
                margin-inline: auto;
                padding: 1.7rem 2.8rem;
            }
        }
        &_cross{
            position: absolute;
            top: 0;
            right: -3rem;
            cursor: pointer;
        }
    }
    &_right{
        position: relative;
        div{
            // padding-inline: 15rem;
            margin-top: 5rem;
            text-align: center;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &_header{
            h2{
                font-size: $headingPrimary;
                color: $primary2;
                font-weight: $bold;
                margin-left: 4rem;
            }
            h3{
                font-size: $headingOptional;
                color: $secondary;
                font-weight: $bold;
                line-height: 6.9rem;
                padding-bottom: 2rem;
            }
        }
        button{
            outline: 0;
            border: 0;
            padding: 2.0rem 3.2rem;
            margin-top: 5rem;
            font-size: 2.6rem;
            color: $textLight;
            background-color: $primary1;
            border-radius: 5px;
            margin-left: auto;
            cursor: pointer;
        }
        &_form{
            position: relative;
            animation: form 0.3s;

            form{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            input, textarea, select{
                outline: 0;
                border: 0;
                border-bottom: 1px solid #707070;
                display: block;
                background-color: inherit;
                font-size: 3rem;
                color: $placeholder;
                padding: 0 1.9rem 1.3rem 1.9rem;
                font-family: "GT Walsheim Pro";

                &:nth-child(2){
                    padding-left: 1.3rem 1.9rem 1.3rem 1.9rem;
                    margin-top: 4.2rem;
                }
            }
            button{
                margin-top: 1.9rem;
                padding: 1.7rem 2.8rem;
            }
        }
        &_cross{
            position: absolute;
            top: 0;
            right: 13rem;
            cursor: pointer;
        }
    }
}

@keyframes form {
    0%{
        opacity: 0;
        transform: translateY(25%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}