@import "../../styles/base.scss";

.faq_container {
  padding: 12rem 15.2rem 10rem 17.6rem;
  @include response(phone) {
    padding: 12rem 10rem 10rem 10rem;
  }

  &_content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 11.5rem;
    @include response(phone) {
      flex-direction: column;
      gap: 10rem;
    }
    &_left {
      &_heading {
        @include headingLine("left", flex-start);
        font-size: 6.5rem;
        padding-bottom: 4.7rem;
      }
      &_details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 63.1rem;
        margin: 0rem 2rem 2rem 9.4rem;
        @include response(vp-800) {
          width: auto;
        }
        &_body {
          padding-bottom: 2rem;
        }
      }
    }
    &_right {
      @include response(phone) {
        margin: 0 auto;
      }
      &_title_block {
        width: 54.5rem;
        img {
          right: 0;
          @include response(vp-800) {
            left: 0;
          }
        }
        h1 {
          text-align: center;
        }
      }
    }
  }
  &_faqs {
    width: 137.1rem;
    margin-left: 6rem;
    @include response(phone) {
      width: 95rem;
      margin: 0 auto;
    }
    h2 {
      position: relative;
      z-index: 0;
      font-size: $subHeading2;
      font-weight: $bold;
      padding-bottom: 3.4rem;
    }
  }
}
