@import "../../../styles/base.scss";
.about_us_approach {
  padding: 9.6rem 10rem 15.6rem 10rem;

  &_container {
    &_inner {
      width: fit-content;
      padding-bottom: 20.5rem;
      margin: 0 auto;
      text-align: center;
      &_heading {
        font-size: $headingSecondary;
        font-weight: $bold;
        color: $secondary;
      }
      &_body {
        font-size: $para1;
        text-align: center;
        color: $primary2;
        padding-bottom: 2.5rem;
      }
      &_banner {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 0 auto;
        @include response(vp-800) {
          grid-template-columns: repeat(1, 1fr);
        }

        &_svg {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          position: relative;
          svg {
            width: 27.2rem;
            padding: 2rem;
            @include response(vp-800) {
              width: 47.2rem;
            }
          }
          p {
            position: absolute;
            bottom: 5rem;
            font-size: $para1;
            font-weight: $medium;
            color: white;
            @include response(vp-800) {
              bottom: 50%;
              transform: translateY(50%);
            }
          }
        }
      }
    }

    &_grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      justify-items: center;
      padding: 0rem 15rem;
      column-gap: 10rem;
      row-gap: 5rem;
      margin: 0 auto;
      @include response(phone) {
        grid-template-columns: repeat(1, 1fr);
        padding: 0rem;
      }
      &_card {
        position: relative;
        svg {
          width: 7.6rem;
          position: absolute;
          z-index: 1;
          @include response(vp-800) {
            width: 9.6rem;
          }
        }
        &_details {
          padding: 3rem 0rem 0rem 4rem;
          position: relative;
          z-index: 2;
          h4,
          p {
            font-size: $para1;
            color: $primary2;
          }
          h4 {
            font-weight: $bold;
            padding-bottom: 2rem;
          }
        }
      }
    }
  }
}
