@import "../../../styles/base.scss";
.about_us_approach {
  padding: 9.6rem 10rem 15.6rem 10rem;

  &_container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    &_inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20.5rem;
      &_heading {
        font-size: $headingSecondary;
        font-weight: $bold;
        color: $secondary;
      }
      &_body {
        font-size: $para1;
        text-align: center;
        color: $primary2;
      }
      &_banner {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 0 auto;
        &_svg {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          position: relative;
          svg {
            width: 25.2rem;
          }
          p {
            position: absolute;
            font-size: $para1;
            font-weight: $medium;
            color: white;
          }
        }
      }
    }

    &_grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 126.5rem;
      column-gap: 10rem;
      row-gap: 5rem;
      @include response(phone) {
        width: auto;
      }
      &_card {
        width: 35.5rem;
        position: relative;
        svg {
          width: 7.6rem;
          position: absolute;
          z-index: 1;
        }
        &_details {
          padding: 3rem 0rem 0rem 4rem;
          position: relative;
          z-index: 2;
          h4,
          p {
            font-size: $para1;
            color: $primary2;
          }
          h4 {
            font-weight: $bold;
            padding-bottom: 2rem;
          }
        }
      }
    }
  }
}
