@import "../../../styles/base.scss";
// Title
.spaces-card_container {
  a {
    list-style: none;
    text-decoration: none;
  }
  position: relative;
  // Card Title
  &_title {
    position: absolute;
    z-index: 5;

    width: max-content;
    padding: 1.1rem 3.3rem;
    border-radius: 1.4rem;

    font-size: $para1;
    font-weight: $bold;

    color: white;
    background: $primary2;

    transition: left 0.5s ease;
  }
}

// Base styles of component
.spaces-card {
  overflow: hidden;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 65rem;
  height: 40rem;
  border-radius: 2rem;

  transition: width 0.5s ease;
  @include response(vp-800) {
    width: 85rem;
    height: 60rem;
  }
  // background image
  img {
    width: 110%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    transition: all 0.5s ease;
  }

  // Background Gradient
  &_bg-gradient {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      rgba(32, 32, 32, 0),
      rgba(0, 0, 0, 0.1) 30%
    );
    position: absolute;
    z-index: 1;
  }

  // Details
  &_details {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 55rem;
    height: 70%;
    padding: 0rem 5rem;
    gap: 2.5rem;
    color: white;

    // Size Seating
    &_size-seating {
      position: relative;
      bottom: -30rem;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      width: max-content;
      opacity: 0;
      font-size: $common;
      font-weight: $medium;
      transition: bottom 0.5s ease;
      @include response(vp-800) {
        flex-direction: column;
      }
      &_size,
      &_seating {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25rem;
        height: 6rem;
        border-radius: 1rem;
        text-align: center;
        color: $primary2;
        background-image: linear-gradient(to right, $limeGreen 50%, white 0);
        p {
          width: 100%;
          font-size: $common;
          padding: 1rem;
        }
      }
    }

    // Event space description
    &_description {
      position: relative;
      bottom: -30rem;
      opacity: 0;
      text-align: center;
      transition: bottom 0.5s ease;
      font-size: $common;
      @include response(vp-800) {
        font-size: $para2;
      }
    }

    // Button Component
    .btn-component {
      width: 14rem;
      height: 6rem;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s ease;
      box-shadow: none;
      svg {
        fill: $limeGreen;
      }
      &_text {
        font-size: $common;
        font-weight: $bold;
      }
      &:hover {
        svg {
          fill: white;
        }
        color: $primary2;
        background: $limeGreen;
      }
    }
  }

  // Amenities
  &_features {
    position: relative;
    z-index: 2;
    bottom: -30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    height: 80%;
    width: 50rem;
    color: white;
    transition: bottom 0.5s ease;
    h2 {
      color: $limeGreen;
      font-size: $para2;
      @include response(vp-800) {
        font-size: $subHeading1;
      }
    }
    p {
      display: flex;
      align-items: center;
      padding-right: 1rem;
      font-size: $common;
      font-weight: $medium;
      @include response(vp-800) {
        font-size: $para2;
      }
      svg {
        width: $common;
        margin: 0rem 1.5rem;
        @include response(vp-800) {
          width: $para2;
        }
      }
    }
  }
  .feature-style {
    p {
      font-size: 1.6rem;
    }
  }

  // Show More Button
  &_show-more {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;

    width: min-content;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem;

    font-size: $showMoreButton;
    font-weight: $bold;

    color: white;
    transition: all 0.5s ease;
    svg {
      fill: white;
      position: relative;
      left: 0rem;
      right: 0rem;

      width: $showMoreButton;
      margin: 0.2rem;

      transition: all 0.5s ease 0.5s;
    }
    // Show More button hover effect
    &:hover {
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
    }
  }
  .show-more-new {
  }
}

// Styles for right aligned and left aligned card
.spaces-card_container {
  // Right Aligned
  &_left {
    .spaces-card_container_title {
      right: 3.5rem;
      top: -2.5rem;
    }
    .spaces-card {
      flex-direction: row-reverse;
    }
    .spaces-card_details_title {
      align-self: flex-end;
      border-radius: 1rem 0rem 0rem 1rem;
      // transition: all 1s ease;
    }
    .spaces-card_show-more {
      flex-direction: row-reverse;
      left: 20rem;
      @include response(vp-800) {
        left: 0rem;
      }
    }
  }
  // Left aligned
  &_right {
    .spaces-card_container_title {
      left: 3.5rem;
      top: -2.5rem;
    }
    .spaces-card_details_title {
      align-self: flex-start;
      border-radius: 0rem 1rem 1rem 0rem;
      // transition: all 1s ease;
    }
    .spaces-card_show-more {
      right: 20rem;
      @include response(vp-800) {
        right: 0rem;
      }
      // svg
      &_right {
        transform: rotate(180deg);
      }
    }
    .show-more-new {
      right: 18rem;
    }
  }
}
// Styles when cards are open
.spaces-card_open {
  width: 110rem;
  transition: all 0.5s ease;
  @include response(vp-800) {
    // width: 110rem;
    justify-content: space-evenly;
  }
  // Background image
  img {
    width: 100%;
    filter: blur(0.5rem);
    object-fit: cover;
    transition: all 0.5s ease;
  }
  .spaces-card {
    &_bg-gradient {
      background-image: linear-gradient(
        to right,
        rgba(32, 32, 32, 0),
        rgba(0, 0, 0, 0.5) 30%
      );
    }
    &_details {
      &_title {
        align-self: center;
        border-radius: 1rem;
      }
      &_size-seating,
      &_description {
        opacity: 1;
        bottom: 0rem;
      }
      .btn-component {
        visibility: visible;
        opacity: 1;
      }
    }
    &_features {
      opacity: 1;
      bottom: 0rem;
    }
    &_show-more {
      left: 0rem;
      right: 0rem;
      transition: all 0.5s ease;
      &_right {
        transform: rotate(360deg);
      }
      &_left {
        transform: rotate(180deg);
      }
    }
  }
}
