@import "../../styles/base.scss";

.careers_container {
  height: max-content;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  @include response(vp-800) {
    height: max-content;
    padding: 5rem;
  }
  &_content {
    // width: 172rem;
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    gap: 5rem;
    @include response(vp-800) {
      flex-direction: column-reverse;
    }
    &_left {
      width: 66.7rem;
      height: 27rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include response(vp-800) {
        width: auto;
        height: fit-content;
        gap: 5rem;
      }
      p {
        font-size: $para1;
        color: $primary2;
        line-height: normal;
        text-align: left;
        &:nth-child(2) {
          color: $primary1;
          font-weight: bold;
        }

        @include response(vp-800) {
          padding: 5rem;
        }
      }
    }
    &_title_block {
      width: 71rem;
      img {
        right: 0;
      }
    }
  }
  &_job {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15rem;

    padding: 10rem;

    @include response(vp-800) {
      grid-template-columns: repeat(2, 1fr);
    }
    // &_title {
    //   grid-column-end: span 1;
    //   &_heading {
    //     @include headingLine("left", flex-start);
    //     font-size: 4.5rem !important;
    //     padding: 5rem 0;
    //   }
    // }
    // &_description {
    //   grid-column-end: span 2;
    // }
  }
}
