@import "../../../styles/base.scss";

.navbar_container {
  height: 9rem;
  @media screen and (max-width: 600px) {
    height: 12rem;
  }
  position: relative;
  font-size: $common;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: $primary2;
  z-index: 1000;
  .navbar_grid {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 18.4rem;
    .brand_logo {
      img {
        height: 7.4rem;
        @media screen and (max-width: 600px) {
          height: 9.4rem;
        }
      }
    }
    .nav_list {
      text-align: center;
      // background-color: palevioletred;
      // menu toggle classes
      .menu_open,
      .menu_close {
        position: absolute;
        display: none;
        width: 10rem;
        height: 10rem;
        top: 5%;
        z-index: 111;
        cursor: pointer;
        img {
          width: 8rem;
          height: 8rem;
          -o-object-fit: cover;
          object-fit: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
      .menu_open {
        right: -10rem;
        background-color: $primary2;
      }
      .menu_close {
        right: 0;
        background-color: $primary1;
      }
      @media screen and (max-width: 900px) {
        background-color: $primary2;
        width: 100%;
        min-height: 75vh;
        background-color: $primary2;
        position: absolute;
        top: 12rem;
        left: -100%;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        .menu_open,
        .menu_close {
          display: block;
        }
      }
      ul {
        // background-color: palevioletred;
        @media screen and (max-width: 900px) {
          margin-top: 15rem;
          height: 100%;
          width: 100%;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -ms-flex-pack: distribute;
          justify-content: space-around;
        }
        li {
          // background-color: #11436e;
          list-style-type: none;
          display: inline-block;
          @media screen and (max-width: 900px) {
            width: 100%;
            display: block;
            margin-top: 15rem;
          }
          height: 9rem;
          width: 17.5rem;
          line-height: 9rem;
          text-transform: capitalize;
          color: $white;
          font-weight: $bold;
          font-size: $common;
          position: relative;
          cursor: pointer;
          @media screen and (max-width: 600px) {
            font-size: 5rem;
          }
          .nav_list_arrow_container {
            position: absolute;
            top: 40%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 3rem;
            height: 3rem;
            @media screen and (max-width: 900px) {
              right: 5%;
              top: 80%;
              width: 8rem;
              height: 8rem;
            }
            img {
              width: 100%;
              height: 100%;
              -o-object-fit: cover;
              object-fit: cover;
            }
          }
          &:hover {
            ul {
              background-color: $primary2;
              -webkit-transform-origin: 50% 0;
              -ms-transform-origin: 50% 0;
              transform-origin: 50% 0;
              -webkit-animation: submenu 0.3s;
              animation: submenu 0.3s;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              @media screen and (max-width: 900px) {
                -webkit-animation: none;
                animation: none;
              }
              li {
                display: block;
              }
            }
          }
          a {
            text-decoration: none;
            color: $white;
          }
          ul {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            width: 17.5rem;
            @media screen and (max-width: 900px) {
              position: relative;
              width: 100%;
              top: 0;
            }
            li {
              width: 100%;
              padding: 2rem;
              height: auto;
              line-height: 1.5;
              display: none;
              @media screen and (max-width: 900px) {
                margin-top: 0;
                z-index: 500;
                background-color: $primary1;
              }
              a {
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                &:hover {
                  color: $primary1;
                  @media screen and (max-width: 600px) {
                    color: $primary2;
                  }
                }
              }
            }
          }
        }
      }
    }
    .language-container {
      .language {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        p {
          color: $textLight;
          font-size: 2rem;
          text-transform: capitalize;
          margin-left: 5%;
          @media screen and (max-width: 600px) {
            font-size: 4rem;
            color: $white;
          }
        }
      }
    }
  }
  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}

@-webkit-keyframes submenu {
  0% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes submenu {
  0% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
