@import "../../../styles/base.scss";

.footer {
  overflow: hidden;
  height: 52.3rem;
  padding: 8.4rem 18.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (max-width: 900px) {
    height: auto;
    grid-template-columns: 1fr;
    padding: 8.4rem 5rem;
  }
  background-color: $primary2;
  position: relative;
  z-index: 100;
  &_left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 36.5rem;
    @include response(phone){
      gap: 2rem;
      height: min-content;
    }
    &_list {
      ul {
        text-align: center;
        // font-size: 4rem;
        li {
          font-size: $para1;
          list-style-type: none;
          margin-top: 2.7rem;
          @include response(phone){
            font-size: 4.5rem;
          }
          a {
            text-decoration: none;
            color: $white;
          }
          &:nth-child(1) {
            margin-top: 0;
          }
        }
      }
    }
    &_logo {
      width: 14.6rem;
      height: 14.1rem;
      @include response(phone){
        align-self: center;
      }
      img {
        // width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &_middle {
    width: 43rem;
    height: 25.21rem;
    @include response(phone){
      justify-self: center;
      margin-top: 4rem;
      font-size: 5rem;
      height: min-content;
      width: 100%;
    }
    &_content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      h4 {
        font-size: $subHeading2;
        color: $white;
        font-weight: $bold;
        @include response(phone){
          font-size: 6.5rem;
        }
      }
      p {
        color: $white;
        font-size: $para1;
        line-height: 2.9rem;
        @include response(phone){
          font-size: 4.5rem;
          line-height: 5rem;
          font-weight: 300;
        }
      }
      &_social {
        img {
          height: 3.5rem;
          width: 3.5rem;
          margin: 0 1.5rem;
          @include response(phone){
            margin-top: 5rem;
            height: 6rem;
            width: 6rem;
          }
        }
      }
    }
  }
  &_right {
    width: 61rem;
    height: 45rem;
    position: absolute;
    top: 0;
    right: 0;
    @media screen and (max-width: 600px) {
      margin-top: 4rem;
      position: relative;
      width: 100%;
    }
    img {
      top: 0;
      left: -3px;
      height: 101%;
      width: 102%;
      object-fit: cover;
      position: absolute;
      pointer-events: none;
    }
    iframe {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}
