@import '../../../styles/base.scss';

.footer{
    height: 52.3rem;
    padding: 8.4rem 18.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width: 900px){
        height: auto;
        grid-template-columns: 1fr;
    }
    background-color: $primary2;
    position: relative;
    &_left{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 36.5rem;
        &_list{
            ul{
                li{
                    font-size: $para1;
                    list-style-type: none;
                    margin-top: 2.7rem;
                    a{
                        text-decoration: none;
                        color: $white;
                    }
                    &:nth-child(1){
                        margin-top: 0;
                    }
                }
            }
        }
        &_logo{
            width: 19.6rem;
            height: 9.1rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &_middle{
        width: 43rem;
        height: 25.21rem;
        &_content{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            h4{
                font-size: $subHeading2;
                color: $white;
                font-weight: $bold;
            }
            p{
                color: $white;
                font-size: $para1;
                line-height: 2.9rem;
            }
            &_social{
                img{
                    height: 3.5rem;
                    width: 3.5rem;
                    margin: 0 1.5rem;
                }
            }
        }
    }
    &_right{
        width: 59.6rem;
        height: 42rem;
        position: absolute;
        top: 0;
        right: 0;
        @media screen and (max-width: 600px) {
            position: relative;
        }
        img{
            top: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
        }
        iframe{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}