@import '../../styles/base.scss';

.global_network{
    padding: 14.2rem 0 19.5rem 0;
    &_container{
        display: flex;
        justify-content: center;
        padding-bottom: 14.2rem;
        &_header{
            width: 172rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include response(phone){
                flex-direction: column;
            }

            &_left{
                width: 81.2rem;
                height: 73.7rem;
                padding-left: 9.8rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include response(phone){
                    padding-left: 0;
                    margin-bottom: 5rem;
                    height: auto;
                }
                h1{
                    color: $primary2;
                    font-weight: $bold;
                    font-size: $headingPrimary;
                    line-height: 9.2rem;
                    span{
                        display: block;
                    }
                    .mark{
                        display: flex;
                        align-items: center;
                    }
                    .mark::before{
                        content: '';
                        width: 6.4rem;
                        height: .5rem;
                        background-color: $primary1;
                        margin-left: -6.4rem;
                    }
                }
                p{
                    font-size: $para1;
                    color: $textDark;
                    @media screen and (max-width: 600px) {
                        margin-top: 5rem;
                        font-size: 5rem;
                    }
                }
            }
            &_right{
                img{
                    height: 50.5rem;
                    box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.16);
                }   
            }
        }
    }
}