@import '../../../styles/base.scss';

.enquiry{
    padding: 8rem 15.3rem;
    &_header{
        padding: 0 5.3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
        p{
            padding: 6.3rem 0 0 10rem;
            font-size: $para2;
            color: $primary2;
            width: 74.1rem;
        }
        &_heading {
            @include headingLine("left", center);
            font-size: 6.5rem;
            padding-bottom: 4.7rem;
          }
    }
    &_body{
        padding: 10.5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &_form{
            width: 108rem;
            background-color: $formBackground;
            border-radius: 2.9rem;
            padding-bottom: 6.5rem;
            @media screen and (max-width: 600px){
                width: 100%;
            }
            &_header{
                padding: 8rem 13rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h3{
                    font-size: 3rem;
                    color: $placeholder;
                    font-weight: normal;
                }
                select{
                    padding: 1.3rem 2rem;
                    background: #F583A6;
                    outline: 0;
                    border: 0;
                    border-radius: 10px;
                    color: $white;
                    font-size: 2rem;
                    font-weight: $bold;
                    option{
                        border: 0;
                        outline: 0;
                    }
                }
            }
            &_body{
                padding: 0 15rem;
                position: relative;
                &_container{
                    display: flex;
                    flex-direction: row;
                    @media screen and (max-width: 600px) {
                        flex-direction: column;
                    }
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 4rem;
                    &_first{
                        input{
                            width: 30.6rem;
                            &:first-child{
                                margin-right: 2rem;
                                @media screen and (max-width:600px) {
                                    margin-right: 0;
                                }
                            }
                            &:last-child{
                                margin-left: 2rem;
                                @media screen and (max-width:600px) {
                                    margin-left: 0;
                                    margin-top: 4rem;
                                }
                            }
                        }
                    }
                    &:first-child{
                        margin-top: 0;
                    }
                    input{
                        outline: 0;
                        border: 0;
                        padding: 1rem;
                        background-color: inherit;
                        border-bottom: 1px solid #707070;
                        font-size: 3rem;
                        width: 100%;
                    }
                    input[type="date"]{
                        color: #707070;
                        font-size: 3rem;
                        font-family: "GT Walsheim Pro";
                    }
                    input[type="time"]{
                        color: #707070;
                        font-size: 3rem;
                        font-family: "GT Walsheim Pro";
                        width: 50%;
                    }
                }
                &_label{
                    padding: 4rem 0 0 0;
                    h3{
                        color: #707070;
                        font-weight: $bold;
                        font-size: 3rem;
                    }
                }
            }
            &_footer{
                padding: 4rem 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}