@import "../../styles/base.scss";
.officespace_container {
  position: relative;
  height: 155rem;
  @include response(vp-800) {
    min-height: 280rem;
    height: max-content;
    padding-bottom: 5rem;
  }
  &_bg {
    svg {
      position: absolute;
      bottom: 0;
    }
  }
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 12.5rem 26.8rem 10.8rem 15.3rem;
    @include response(vp-800) {
      flex-direction: column;
    }
    &_content {
      width: 84.1rem;
      height: 35.7rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include response(vp-800) {
        padding-bottom: 5rem;
      }
      h4 {
        font-size: $subHeading1;
        font-weight: 500;
        color: $primary2;
        margin-left: 7.4rem;
        position: relative;
        &::before {
          content: "";
          display: block;
          position: absolute;
          bottom: $subHeading1 / 2;
          width: 6.4rem;
          left: -6.4rem - 1rem;
          height: 0.5rem;
          background-color: $primary1;
        }
      }
      h5 {
        font-size: $subHeading1;
        font-weight: $bold;
        color: $primary2;
        margin-left: 7.4rem;
      }
      p {
        font-size: $para1;
        color: $primary2;
        margin-left: 9.7rem;
      }
    }
    &_title_block {
      width: 53.2rem;
      h1 {
        text-align: center;
      }
      img {
        top: 0;
        right: 0;
      }
    }
  }
  &_grid_cards {
    display: flex;
    flex-wrap: wrap;
    justify-items: space-between;
    width: fit-content;
    gap: 3rem;
    margin: auto;
    @include response(phone) {
      flex-direction: column;
    }
    @each $color in $cardColors {
      $i: index(
        $list: $cardColors,
        $value: $color,
      );
      .flex-card-#{$i} {
        @include setMembershipCardColors($color);
      }
      @if $i==6 {
        .flex-card-#{$i} {
          @include setMembershipCardColors($color, "true");
        }
      }
    }
  }
}
