@import "../../styles/base.scss";
.event-spaces {
  position: relative;
  height: fit-content;
  overflow: hidden;
  padding: 5rem 0rem;
  &_heading {
    padding: 10rem 20rem;
  }
  &_bg {
    position: absolute;
    z-index: 1;
    top: -29rem;
    left: 0rem;
    width: 100%;
  }
  @include response(vp-800) {
    &_bg {
      left: -14rem;
      width: auto;
      height: 100%;
    }
  }

  &_heading {
    position: relative;
    z-index: 2;
    @include headingLine("left", flex-start);
  }
  &_cards {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: auto;
    gap: 5rem;
    @include response(vp-800) {
      flex-direction: column;
    }
    &_left,
    &_right {
      display: flex;
      flex-direction: column;
      gap: 5rem;
    }
    &_left {
      align-items: flex-end;
    }
  }
}
