@import "../../styles/base.scss";
.event-spaces {
  position: relative;
  height: fit-content;
  overflow: hidden;
  padding: 5rem 10rem;
  &_bg {
    &_top {
      width: 89.7rem;
      position: absolute;
      bottom: 35rem;
      right: 125rem;
      z-index: 1;
    }
    &_bottom {
      width: 89.7rem;
      position: absolute;
      top: 50rem;
      left: 120rem;
      z-index: 1;
    }
  }
  &_heading {
    position: relative;
    z-index: 2;
    @include headingLine("left", flex-start);
  }
  &_cards {
    position: relative;
    z-index: 2;
    display: flex;
    width: fit-content;
    margin: auto;
    gap: 5rem;
    @include response(phone) {
      flex-direction: column;
    }
    &_left,
    &_right {
      display: flex;
      flex-direction: column;
      gap: 5rem;
    }
    &_left {
      align-items: flex-end;
    }
  }
}
