@import "../../../styles/base.scss";

.job_post {
  &__title {
    grid-column-end: span 1;
    &_heading {
      @include headingLine("left", flex-start);
      font-size: 4.5rem !important;
      padding: 5rem 0;
    }
  }
  &__description {
    grid-column-end: span 2;

    &__common-info {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 0rem 5rem;
      p {
        font-size: $para3;
        color: $primary2;

        @include response(vp-800) {
          font-size: $para2;
        }
      }
      ul {
        li {
          list-style: circle;
          font-size: $para3;

          @include response(vp-800) {
            font-size: $para2;
            margin-left: 1rem;
          }
          &::marker {
            font-size: 2rem;

            @include response(vp-800) {
              font-size: 3rem;
            }
          }
        }
      }
    }
  }
}
