@import "../../../styles/base.scss";
.heading-global {
  @include headingLine("left", center);
  font-size: $headingPrimary;
  font-weight: $bold;
  color: $primary2;
  h2 {
    display: flex;
    flex-direction: column;
    span {
      font-size: $subHeading2;
      font-weight: $bold;
    }
  }
  div {
    p {
      font-size: 5rem;
    }
  }
}
.body-global {
  font-size: $para1;
  color: $primary2;
}
.highlight-global {
  font-size: $para1;
  color: $primary1;
}
