@import "../../../styles/base.scss";
// Membership Card container
.membership-card-container {
  position: relative;
}
.office-space-card-container {
  position: relative;
  width: 43rem;
  transition: height 0.5s ease;
  transition: max-height 1s ease -0.5s;
  img {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    border-radius: 3.5rem 3.5rem 0rem 0rem;
  }
  .card-bg-image {
    top: 25rem;
  }
}
.membership-card {
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-width: 43rem;
  width: max-content;
  max-height: 18rem;
  min-height: 18rem;
  padding: 3rem;

  border-radius: 3rem;

  background: white;
  transition: height 0.5s ease;
  transition: max-height 1s ease -0.5s;

  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.16);

  @include response(vp-800) {
    min-width: 100%;
    max-height: 25rem;
    min-height: 25rem;

    padding: 5rem;
  }

  // Plan section styles
  &_plan {
    width: 100%;
    align-self: flex-start;
    color: white;
    cursor: pointer;
    svg {
      position: absolute;
      z-index: 2;
      top: 5rem;
      left: -15rem;

      width: 170%;

      fill: $primary1;

      transform: translateY(-50%);
      transition: all 0.5s ease;

      @include response(vp-800) {
        top: -15rem;
        left: -45rem;

        width: 210%;
      }
    }
    &_header {
      width: inherit;
      &_title {
        position: relative;
        z-index: 3;
        font-size: $subHeading1;
        font-weight: $medium;
        color: $textLight;
        mix-blend-mode: multiply;
        isolation: auto;
      }
      &_price {
        width: inherit;
        position: relative;
        z-index: 3;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 3rem;
        font-size: $subHeading4;
        font-weight: $bold;
        color: white;
        span {
          font-size: $para2;
          font-weight: $regular;
          svg {
            fill: $textLight;
            mix-blend-mode: multiply;
            isolation: isolate;
            position: initial;
            width: 4rem;
            height: fit-content;
          }
        }
      }
      &_duration {
        position: relative;
        z-index: 3;
        font-size: $para2;

        @include response(vp-800) {
          font-size: $subHeading3;
        }

        font-weight: $medium;
        color: $textLight;
        mix-blend-mode: multiply;
        isolation: auto;
        top: 20rem;
        transition: top 0.5s ease;
      }
    }
  }
  // Features styles
  &_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding: 5rem 0;
    @include response(vp-800) {
      padding: 15rem 0;
    }
    &_paragraph {
      display: flex;
      align-items: center;
      line-height: 1.8;
      color: $placeholder;
    }
    p {
      padding-right: 1rem;
      font-size: $common;
      @include response(vp-800) {
        font-size: $subHeading3;
      }
    }
    svg {
      width: $common;
      aspect-ratio: 1;
      @include response(vp-800) {
        width: $subHeading3;
      }
    }
  }
  //   Membership choose plan button
  &_btn {
    opacity: 0;
    transition: opacity 0.25s ease-in-out 0.25s;
  }
}

// show card on click
.office-space-show-card {
  max-height: 250rem;
  min-height: 75rem;
  transition: max-height 1s ease;
}
.show-card {
  max-height: 250rem;
  min-height: fit-content;
  transition: max-height 1s ease;

  .membership-card_btn {
    opacity: 1;
  }
  .membership-card_plan {
    svg {
      transform: translateY(-72%);
    }
    &_header_price {
      color: white;
      mix-blend-mode: normal;
      span {
        svg {
          transform: rotate(180deg);
        }
      }
    }
    &_header_duration {
      top: 0rem;
      transition: top 0.5s ease;
    }
  }
}
