@import "../../../styles/base.scss";
// Membership Card container
.membership-card-container {
  position: relative;
}
.office-space-card-container {
  position: relative;
  height: 43rem;
  transition: height 0.5s ease;
  img {
    position: absolute;
    width: 43rem;
    z-index: 1;
  }
  .card-bg-image {
    top: 25rem;
  }
}
.membership-card {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 43rem;
  height: 18rem;
  padding: 3rem;
  border-radius: 3rem;
  background: white;
  transition: all 0.5s ease;
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.16);
  // grid-column: span;
  // Plan section styles
  &_plan {
    width: 100%;
    align-self: flex-start;
    color: white;
    cursor: pointer;
    svg {
      position: absolute;
      z-index: 2;
      height: 83.2rem;
      left: -20rem;
      fill: $primary1;
      transform: translateY(-50%);
      transition: all 0.5s ease;
    }
    &_header {
      width: inherit;
      &_title {
        position: relative;
        z-index: 3;
        font-size: $subHeading1;
        font-weight: $medium;
        color: $textLight;
        mix-blend-mode: multiply;
        isolation: auto;
      }
      &_price {
        width: inherit;
        position: relative;
        z-index: 3;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 3rem;
        font-size: $subHeading4;
        font-weight: $bold;
        color: white;
        span {
          font-size: $para2;
          font-weight: $regular;
          svg {
            fill: $textLight;
            mix-blend-mode: multiply;
            isolation: isolate;
            position: initial;
            width: 4rem;
            height: fit-content;
          }
        }
      }
      &_duration {
        position: relative;
        z-index: 3;
        font-size: $para2;
        font-weight: $medium;
        color: $textLight;
        mix-blend-mode: multiply;
        isolation: auto;
      }
    }
  }
  // Features styles
  &_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 32rem;
    &_paragraph {
      display: flex;
      align-items: center;
      line-height: 1.8;
      font-size: $para3;
      color: $placeholder;
      @include response(phone) {
        line-height: 1.2;
        font-size: 1.8rem;
      }
    }
    p {
      padding-right: 1rem;
    }
    svg {
      width: $para3;
      aspect-ratio: 1;
    }
  }
  //   Membership choose plan button
  &_btn {
    opacity: 0;
    transition: opacity 0.25s ease-in-out 0.25s;
  }
}

// show card on click
.office-space-show-card {
  height: 87rem;
}
.show-card {
  height: 67rem;
  .membership-card_btn {
    opacity: 1;
  }
  .membership-card_plan {
    svg {
      transform: translateY(-72%);
    }
    &_header_price {
      color: white;
      mix-blend-mode: normal;
      span {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}
