@import "../../../styles/base.scss";
@import "../../../styles/global.scss";

// About us vision & mission section
.about_us {
  height: fit-content;
  padding: 8.1rem 10rem 0rem 18.4rem;
  @include response(vp-800) {
    padding-left: 10rem;
  }
  // section container
  &_container {
    // vision heading (1st grid element)
    &_vision {
      &_heading {
        height: fit-content;
        @include headingLine("left", center);
        font-size: $headingSecondary;
        color: $primary2;
      }
      // vision detail & image (2nd grid element)
      &_detail {
        display: flex;
        justify-content: space-between;
        padding: 5.5rem 0rem 12.2rem 0rem;
        font-size: $para1;
        @include response(vp-800) {
          flex-direction: column;
          align-items: center;
          gap: 10rem;
        }
        &_body {
          width: 66.3rem;
          @include response(vp-800) {
            width: fit-content;
          }
          margin-left: 7.9rem;
          color: $primary2;
          p:first-child {
            padding-bottom: 3.8rem;
          }
        }
        img {
          width: 81.2rem;
          object-fit: contain;
          margin-right: 3rem;
          @include response(vp-800) {
            margin-right: 0rem;
          }
        }
      }
    }
    // mission detail (3rd grid element)
    &_mission_detail {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      color: $primary2;
      &_heading {
        font-size: $headingSecondary;
        font-weight: $bold;
        text-align: right;
        @include headingLine("right", center);
      }
      &_body {
        width: 67.2rem;
        margin-right: 7.9rem;
        @include response(vp-800) {
        }
        font-size: $para1;
      }
    }
  }
}
