@import "../../../styles/base.scss";
@import "../../../styles/global.scss";

// About us vision & mission section
.about_us {
  height: fit-content;
  padding: 8.1rem 10rem 0rem 18.4rem;
  // section container
  &_container {
    // vision heading (1st grid element)
    &_vision {
      &_heading {
        height: fit-content;
        @include headingLine("left", center);
        font-size: $headingSecondary;
        color: $primary2;
      }
      // vision detail & image (2nd grid element)
      &_detail {
        display: flex;
        justify-content: space-between;
        padding: 5.5rem 0rem 12.2rem 0rem;
        font-size: $para1;
        &_body {
          width: 66.3rem;
          margin-left: 3rem;
          color: $primary2;
          p:first-child {
            padding-bottom: 3.8rem;
          }
        }
        img {
          width: 81.2rem;
          height: 41.4rem;
          margin-right: 3rem;
        }
      }
    }
    // mission detail (3rd grid element)
    &_mission_detail {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      color: $primary2;
      &_heading {
        font-size: $headingSecondary;
        font-weight: $bold;
        text-align: right;
        @include headingLine("right", center);
      }
      &_body {
        width: 67.2rem;
        margin-right: 3rem;
        font-size: $para1;
      }
    }
  }
}
