@import "../../../styles/base.scss";
// Section
.about_us_team {
  padding: 8.6rem 10rem 17.3rem 18.4rem;
  overflow: hidden;
  @include response(vp-800) {
    padding-left: 10rem;
  }
  // Container
  &_container {
    height: fit-content;
    // Content Description
    &_description {
      padding-bottom: 15.6rem;

      // Description Heading
      &_heading {
        @include headingLine("left", center);
        padding-bottom: 5.4rem;
        font-size: $headingSecondary;
        font-weight: $bold;
        line-height: 1;
        h2 {
          display: flex;
          flex-direction: column;
          color: $primary2;
          span {
            font-size: $subHeading2;
          }
        }
      }
      // Description Body
      &_body {
        width: 71.8rem;
        margin-left: 7.9rem;
        font-size: $para1;
        color: $primary2;
        @include response(vp-800) {
          width: fit-content;
        }
      }
    }
    // About Us Team section image grid
    &_image-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      align-items: center;
      width: fit-content;
      margin: 0 auto;
      gap: 4rem;
      text-align: center;
      @include response(vp-800) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
      }

      img {
        width: 40rem;
        padding: 3rem;
        object-fit: contain;
      }
      &_grid-child {
        h4 {
          font-size: $para2;
          font-weight: $bold;
          color: $primary2;
        }
        p {
          font-size: $common;
          font-weight: $regular;
          color: $primary2;
        }
      }
    }
  }
}
