@import "../../../styles/base.scss";
.about_us_purpose {
  height: fit-content;
  &_container {
    padding: 10rem 18.8rem 11.9rem 8.4rem;
    &_detail {
      color: $primary2;
      &_heading {
        @include headingLine("left", center);
        font-size: $headingSecondary;
        font-weight: $bold;
      }
      &_highlight {
        font-size: $subHeading2;
        font-weight: $bold;
        color: $primary1;
      }
      &_body {
        font-size: $para1;
      }
    }
  }
}
