@import "../../../styles/base.scss";
@keyframes hoverAnimation {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.about_us_purpose {
  position: relative;
  overflow: hidden;
  &_bg_overlay {
    svg {
      position: absolute;
      z-index: 1;
    }
  }
  &_container {
    position: relative;
    z-index: 2;
    padding: 10rem 28.8rem 11.9rem 18.4rem;
    &_detail {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      &_heading {
        @include headingLine("left", center);
        font-size: $headingSecondary;
        font-weight: $bold;
        color: $primary2;
      }
      &_highlight {
        width: 49.5rem;
        margin-left: 25.5rem;
        font-size: $subHeading2;
        font-weight: $bold;
        text-align: right;
        color: $primary1;
      }
      &_body {
        width: 67.2rem;
        justify-self: flex-end;
        font-size: $para1;
        color: $primary2;
      }
    }
    &_btn_grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      padding-top: 4.6rem;
      gap: 4rem;
      button {
        padding: 3rem 7.1rem 3.5rem 7rem;
        border-radius: 2rem;
        font-size: $subHeading2;
        font-weight: $bold;
        color: white;
        &:nth-child(3n + 1) {
          background: $secondary;
        }
        &:nth-child(3n + 2) {
          background: $primary2;
        }

        &:nth-child(3n) {
          background: $buttonYellow;
        }
        &:nth-child(n + 4) {
          opacity: 0;
        }
      }
    }
  }
}
