@import "../../../styles/base.scss";

.home_image_grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_header {
    width: 151.5rem;
    margin-top: 20rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    @media screen and (max-width: 600px) {
      width: 100%;
      flex-direction: column;
    }
    &_left {
      h4 {
        font-size: $subHeading3;
        color: $primary2;
        font-weight: $bold;
        text-transform: capitalize;
        position: relative;
        &::before {
          content: "";
          display: block;
          position: absolute;
          bottom: $subHeading1 / 2;
          width: 6.4rem;
          left: -6.4rem - 1rem;
          height: 0.5rem;
          background-color: $primary1;
        }
      }
      h2 {
        font-size: 8rem;
        color: $primary2;
        font-weight: $bold;
      }
    }
    &_right {
      display: flex;
      align-items: center;
      h4 {
        font-size: $subHeading3;
        color: $primary2;
        font-weight: $bold;
        text-transform: capitalize;
      }
      a {
        text-decoration: none;
      }
      img {
        width: 70%;
        transition: 0.3s;
        margin-left: 5%;
      }
    }
  }
  &_body {
    display: grid;
    height: 89.1rem;
    width: 150.2rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 5.2rem;
    margin-top: 8.5rem;
    position: relative;
    @media screen and (max-width: 600px) {
      height: auto;
      width: 100%;
      grid-template-columns: 1fr;
      padding: 0 5rem;
    }

    // pop up
    &_pop{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($color: #000000, $alpha: 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      animation: popUp 0.1s linear;
      img{
        max-height: 80rem;
        max-width: 80rem;
        object-fit: cover;
      }
    }
    // grid
    &_col {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &_1{
        height: 50.1rem;
        width: 46.6rem;
        cursor: zoom-in;
        @media screen and (max-width: 600px) {
          height: 26.3rem;
          width: 100%;
          margin-top: 2.6rem;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &_2{
        height: 34.8rem;
        width: 46.6rem;
        cursor: zoom-in;
        @media screen and (max-width: 600px) {
          height: 26.3rem;
          width: 100%;
          margin-top: 2.6rem;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &_3{
        height: 26.3rem;
        width: 46.6rem;
        cursor: zoom-in;
        @media screen and (max-width: 600px) {
          height: 26.3rem;
          width: 100%;
          margin-top: 2.6rem;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &_4{
        height: 26.3rem;
        width: 46.6rem;
        cursor: zoom-in;
        @media screen and (max-width: 600px) {
          height: 26.3rem;
          width: 100%;
          margin-top: 2.6rem;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &_5{
        height: 26.3rem;
        width: 46.6rem;
        cursor: zoom-in;
        @media screen and (max-width: 600px) {
          height: 26.3rem;
          width: 100%;
          margin-top: 2.6rem;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &_6{
        height: 34.8rem;
        width: 46.6rem;
        cursor: zoom-in;
        @media screen and (max-width: 600px) {
          height: 26.3rem;
          width: 100%;
          margin-top: 2.6rem;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &_7{
        height: 50.1rem;
        width: 46.6rem;
        cursor: zoom-in;
        @media screen and (max-width: 600px) {
          height: 26.3rem;
          width: 100%;
          margin-top: 2.6rem;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}


@keyframes popUp {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}