@import '../../styles/base.scss';

.global_locations{
    &_container{
        display: flex;
        justify-content: center;
        width: 100%;
        &_embed_container{
            z-index: 1;
            overflow: hidden;
            width: 100%;
            height: 90vh;
            @include response(tab-port){
                height: 70vh;
            }
            iframe,object,embed{
                width: 100%;
                height: 100%;
            }
        }
        &_filter{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            pointer-events: none;
            background: linear-gradient(
                to left,
                $white, 
                rgba($white, .1)
            );
        }
        &_right{
            z-index: 11;
            width: 50%;
            // height: 90vh;
            pointer-events: none;
            position: absolute;
            top: 9rem;
            right: 0;
            text-align: end;
            padding: 7rem 18.4rem 7rem 0;

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;


            @include response(s-phone){
                width: 100%;
            }
            @include response(M-phone){
                width: 90%;
            }
            @include response(tab-port){
                width: 75%;
                height: 70vh;
            }
            h1{
                color: $primary2;
                font-weight: $bold;
                font-size: $headingPrimary;
                line-height: 7.5rem;
                margin-bottom: 2rem;
                span{
                    display: block;
                }
                @include response(s-phone){
                    font-size: $subHeading4;
                    font-weight: $bold;
                    line-height: 6.2rem;
                }
                @include response(M-phone){
                    font-size: $subHeading3;
                    font-weight: $bold;
                    line-height: 5.2rem;
                }
                @include response(phone){
                    font-size: 8rem;
                    line-height: 8.5rem;
                }
            }
            p{
                font-size: 3rem;
                font-weight: 500;
                letter-spacing: 0px;
                line-height: normal;
                color: $textDark;
                margin-bottom: 7.5rem;
                @include response(s-phone){
                    font-size: $para2;
                }
                @include response(M-phone){
                    font-size: $common;
                }
                @include response(phone){
                    font-size: 3rem;
                }
            }
            a{
                text-decoration: none;
                font-size: 2.5rem;
                font-weight: 500;
                color: $primary1;
                padding: 10px 25px;
                position: relative;
                background: $white 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 8px;
                opacity: 1;
                pointer-events: visible;
                @include response(s-phone){
                    font-size: $para1;
                    text-align: justify;
                }
                @include response(M-phone){
                    padding: 7px 15px;
                    font-size: $para3;
                    text-align: justify;
                }
                @include response(phone){
                    font-size: 3rem;
                }
            }
        }
    }
}