@mixin response($breakpoint) {
  @if $breakpoint == s-phone {
    @media (max-width: 26.88em) {
      @content;
    }
  }
  @if $breakpoint == M-phone {
    @media (max-width: 35.5em) {
      @content;
    }
  }
  @if $breakpoint == phone {
    // media size 640px
    @media (max-width: 40em) {
      @content;
    }
  }
  @if $breakpoint == vp-800 {
    @media (max-width: 50em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    // media size 960px
    @media (max-width: 60em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    // media size 1280px
    @media (max-width: 80em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

@mixin headingLine($direction, $position) {
  display: flex;
  @if $direction == "left" {
    &::before {
      content: "";
      display: block;
      width: 6.4rem;
      height: 0.5rem;
      align-self: $position;
      background-color: $primary1;
      margin-right: 4rem;
    }
  } @else {
    &::after {
      content: "";
      display: block;
      width: 6.4rem;
      height: 0.5rem;
      align-self: $position;
      background-color: $primary1;
      margin-left: 4rem;
    }
  }
}

@mixin repeatColors($n, $colors, $class, $selector) {
  @for $i from 1 to $n + 1 {
    &:nth-child(#{$n}n + #{$i}) {
      #{$class} {
        #{$selector} {
          fill: nth($list: $colors, $n: $i);
        }
      }
    }
  }
}
