// color
$primary1: #ee0b4f;
$primary2: #0f3a5f;
$secondary: #ff5353;
$white: #fff;
$textLight: #cccccc;
$textDark: #404040;
$placeholder: #808080;
$buttonYellow: #ff8e3d;

// fonts size
$headingPrimary: 8rem;
$headingSecondary: 6.5rem;
$headingOptional: 6rem;
$subHeading1: 4.5rem;
$subHeading2: 3.5rem;
$subHeading3: 4rem;
$para1: 2.5rem;
$para2: 3rem;
$common: 2rem;
$number: 18rem;

// font weight
$bold: 700;
