// color
$primary1: #ee0b4f;
$primary2: #0f3a5f;
$secondary: #ff5353;
$white: #fff;
$textLight: #cccccc;
$textDark: #404040;
$placeholder: #808080;
$limeGreen: #aae148;
$yellow: #ffd546;
$orange: #ff8e3d;
$skyBlue: #41bed0;
$formBackground: #f2f2f2;

// Faq accordion color
// 1st color is the primary1 color
$faqColorOrange: #fe8b38;
$faqColorYellow: #ffce28;
$faqColorGreen: #aacb70;

// Membership Card colors
$cardColors: ($secondary, $orange, $limeGreen, $skyBlue, $yellow, $primary2);
// fonts size
$headingPrimary: 8rem;
$headingSecondary: 6.5rem;
$headingOptional: 6rem;
$subHeading1: 4.5rem;
$subHeading2: 3.5rem;
$subHeading3: 4rem;
$subHeading4: 5rem;
$para1: 2.5rem;
$para2: 3rem;
$para3: 1.5rem;
$common: 2rem;
$number: 18rem;
// Spaces card
$showMoreButton: 1.1rem;
$spacesTitle: 2.3rem;
$spaceSize: 0.9rem;

// font weight
$regular: 400;
$medium: 500;
$bold: 700;
