@import "./base.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GT Walsheim Pro";
}

html,
body {
  font-size: 0.625em;
  // font-size: 62.5%;
  font-family: "GT Walsheim Pro";

  @include response(big-desktop) {
    font-size: 0.625em;
  }
  @include response(m-desktop) {
    font-size: 0.45em;
  }
  @include response(desktop) {
    font-size: 0.4em;
  }
  @include response(tab-port) {
    font-size: 4.8px; //0.3em
    // -webkit-text-size-adjust: none;
  }
  @include response(vp-800) {
    font-size: 4px; //0.25em
    // -webkit-text-size-adjust: none;
    .body-global,
    .highlight-global {
      font-size: 4rem !important;
    }
  }
  @include response(phone) {
    font-size: 3.2px; // 0.2em
    // -webkit-text-size-adjust: none;
    .body-global,
    .highlight-global {
      font-size: 5rem !important;
    }
  }
}

body {
  font-family: "GT Walsheim Pro";
  line-height: 1.5;
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
}
button {
  font-family: "GT Walsheim Pro";
  background: none;
  border-style: none;
  outline: none;
  cursor: pointer;
}
.marked {
  color: $primary1;
}

.bold {
  font-weight: $bold;
}

.para_medium {
  font-size: $para2;
  color: $textDark;
  font-weight: 500;
}

.heading-global {
  color: $primary2;
  h2 {
    display: flex;
    flex-direction: column;
    font-size: $headingSecondary;
    font-weight: $bold;
  }
  span {
    font-size: $subHeading2;
    font-weight: $bold;
  }
}
.body-global {
  font-size: $para1;
  color: $primary2;
}
.highlight-global {
  font-size: $para1;
  color: $primary1;
}

.mt-mb {
  margin-top: 4rem;
}

.no-data-found {
  text-align: center;
  p {
    color: $textDark;
    font-size: 18px;
  }
}
