@import './base.scss';
@import url("/fonts/GTWalsheimPro/font.css");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 44.4661458333%;
  @media screen and (min-width: 1367px) {
    font-size: 62.5%;
  }
}

body {
  font-family: 'GT Walsheim Pro';
  line-height: 1.5;
  overflow-x: hidden;
}

.marked{
  color: $primary1;
}