@import "../../../styles/base.scss";
// Faq Component
.faq-component {
  // Base style
  position: relative;
  width: fit-content;
  margin-bottom: 10rem;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  // Faq question container styles
  h4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 137.1rem;
    padding: 4rem;
    border-radius: 1.7rem;
    font-size: $para1;
    font-weight: $bold;
    color: white;
    background: lighten($primary1, 25%);
    box-shadow: 0rem 0.5rem 1rem rgba($color: #000000, $alpha: 0.16);
    transition: all 0.15s ease-in-out;

    svg {
      width: $para1;
      cursor: pointer;
      transition: transform 0.25s ease-in-out;
    }
    // rotate the svg when hovered
    .rotate {
      transform: rotate(180deg);
    }
  }
  // Faq answer container style
  &_answer {
    position: absolute;
    top: 6rem;
    overflow: hidden;
    width: 137.1rem;
    max-height: 0rem;
    padding: 0rem 4rem;
    border-radius: 0rem 0rem 1.7rem 1.7rem;
    background: white;
    transition: all 0.25s ease-in-out;
    p {
      font-size: $para1;
      font-weight: $regular;
      color: $primary2;
    }
  }
}
// Show the answer
.show {
  h4 {
    box-shadow: none;
    background: $primary1;
  }
  .faq-component {
    &_answer {
      top: 80%;
      height: auto;
      padding: 8rem 4rem;
      max-height: 100rem;
      transition: all 0.25s ease-in-out;
      box-shadow: 0rem 0.5rem 1rem rgba($color: #000000, $alpha: 0.16);
    }
  }
}
